{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=C1X9zN5oIZoHY7Ez2ege&submodules=geocoder"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>GPS - Satellite</title>
</head>
<body>
<div >
    <div class="grid-container">
    <div class="grid-item" style="height: 670px; width: 100%; margin-left: 1em;">
        <h2 id="key" style="line-height: 50px; margin: 0; width: 900px;">Satellite Cryptography Key : </h2>
        <div id="map" style="height: 620px; width: 900px; margin: 0"></div>
        <div class="grid-container" style="border: 1px solid black; height: 250px; width: 900px; margin-top: 2em;">
            <div class="grid-item" style="border-width: 0px 1px 1px 0px; height: 70px; border-style: solid; width: 450px; padding:0.1em 0em;">
                <h2>Normal Location</h2>
            </div>
            <div class="grid-item" style="border-width: 0px 0px 1px 0px; height: 70px; border-style: solid; width: 450px; padding:0.1em 0em;">
                <h2>Spoofing Location</h2>
            </div>
            <div class="grid-item" style="border-width: 0px 1px 0px 0px; border-style: solid; width: 450px; height: 180px;">
                <ul>
                    <li class="good"></li>
                    <li class="good"></li>
                    <li class="good"></li>
                </ul>
            </div>
            <div class="grid-item" style="width: 450px;">
                <ul>
                    <li class="bad"></li>
                    <li class="bad"></li>
                    <li class="bad"></li>
                </ul>
            </div>
        </div>
    </div>
{#    <div id="map" class="grid-item" ></div>#}
      <!--<div id="map" class="grid-item"></div>-->
    <div class="grid-item" style="border: 1px solid black; border-radius: 10px; width: 800px; margin-left: 1em; height: 950px;">
        <div style="display: grid; grid-template-columns: auto auto;">
            <div class="select">
            <select name="slct" id="signal_type" style="text-align-last: center; font-size: 1.2em;" onchange="initialize()">
                <option>CA</option>
                <option>PAC</option>
                <option>EC</option>
            </select>
            </div>
            <span class="btn red" style="font-size: 15px; width: 300px;" onclick="change_type()">Do Acquisition</span>
        </div>

        <h1>Acquisition</h1>
        <div style="height: 450px;">
            <img id="img" src="{% static 'img/set1/ACQ_NULL.jpg' %}"/>
        </div>
        <div style="display: grid; grid-template-columns: auto auto auto; text-align: center">
            <div>
                <h2 class="deception_try"><b>A:</b> Normal State</h2>
                <span class="btn red" onclick="decept('kor')">Spoofing A</span>
                <span class="info btn red" onclick="change_info('kor')">User Cryptography Key</span>
                <span class="drop btn red" onclick="drop(1)">Leave A</span>
            </div>
            <div>
                <h2 class="deception_try"><b>B:</b> Normal State</h2>
                <span class="btn red" onclick="decept('cha')">Spoofing B</span>
               <span class="info btn red" onclick="change_info('cha')">User Cryptography Key</span>
                <span class="drop btn red" onclick="drop(2)">Leave B</span>
            </div>
            <div>
                <h2 class="deception_try"><b>C:</b> Normal State</h2>
                <span class="btn red" onclick="decept('jap')">Spoofing C</span>
               <span class="info btn red" onclick="change_info('jap')">User Cryptography Key</span>
                <span class="drop btn red" onclick="drop(3)">Leave C</span>
            </div>
        </div>
    </div>

<script>
    let branch = {
        kor: [[36.2415852, 128.5614499], [36.94869198118655, 128.26855668118654], [37.2415852, 127.5614499], [36.94869198118655, 126.85434311881345], [36.2415852, 126.5614499], [35.53447841881346, 126.85434311881345], [35.2415852, 127.5614499], [35.53447841881346, 128.26855668118654]],
        cha: [[36.4198096, 121.4392376], [37.12691638118655, 121.14634438118655], [37.4198096, 120.4392376], [37.12691638118655, 119.73213081881345], [36.4198096, 119.4392376], [35.712702818813455, 119.73213081881345], [35.4198096, 120.4392376], [35.712702818813455, 121.14634438118655]],
        jap: [[33.9606874, 133.0], [34.667794181186544, 132.70710678118655], [34.9606874, 132.0], [34.667794181186544, 131.29289321881345], [33.9606874, 131.0], [33.25358061881345, 131.29289321881345], [32.9606874, 132.0], [33.25358061881345, 132.70710678118655]]
    };

    let deception_route = {
        kor: [],
        cha: [],
        jap: []
    };
    let index = {
        kor: 0,
        cha: 0,
        jap: 0
    };
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 126.105399),
        zoom: 1
    };

    let map = new naver.maps.Map('map', mapOptions);
    let is_deception = {
        kor: false,
        cha: false,
        jap: false
    };
    let is_CA = true;
    let route_marker = {
        kor: [],
        cha: [],
        jap: []
    };
    let key = 'asdf';
    let key_list = {
        kor: 'asdf',
        cha: 'asdf',
        jap: 'asdf'
    };
    function init_key () {
        let t = [(Math.floor((Math.random() * 10) + 1)%9+1)];
        let str = 'abcdef';
        for (var i = 0; i < 15; ++i) {
            if ((Math.floor((Math.random() * 10) + 1)%3) !== 1) {
                t.push(str.charAt(Math.floor(Math.random()*100)%6))
            } else {
                t.push(Math.floor(Math.random()*100%10));
            }
        }
        key = t.join('');
        key_list.kor = key;
        key_list.cha = key;
        key_list.jap = key;
    }
    init_key();
    document.getElementById('key').innerHTML = 'Satellite Cryptography Key : ' + key;
    let angle = [315, 270, 225, 180, 135, 90, 45, 0, ];

    function make_marker () {
        for (br in branch) {
            for (let i = 0; i < 8; ++i) {
                route_marker[br].push(new naver.maps.Marker({
                    position: new naver.maps.LatLng(branch[br][i][0]-0.2, branch[br][i][1]+0.5),
                    map: map,
                    icon: {
                        content: '<i class="fas fa-location-arrow" style="font-size: 0.9em; transform: rotate('+ angle[i] +'deg);"></i>' //
                    }
                }));
            }
        }
    }
    make_marker();
    let marker_list = {
        kor: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.kor[0][0], branch.kor[0][1]),
            map: map,
            title: 'Korea',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate(270deg); color: blue;"></i>' //
            }
        }),
        jap: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.jap[0][0], branch.jap[0][1]),
            map: map,
            title: 'Japan',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate(270deg); color: blue;"></i>' //
            }
        }),
        cha: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.cha[0][0], branch.cha[0][1]),
            map: map,
            title: 'China',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate(270deg); color: blue;"></i>' //
            }
        })
    };

    var A = new naver.maps.Marker({
        position: new naver.maps.LatLng(branch.kor[1][0]-0.35, branch.kor[1][1]-0.27),
        map: map,
        title: 'A',
        icon: {
            content: '<h1>A</h1>' //
        }
    });

    var B = new naver.maps.Marker({
        position: new naver.maps.LatLng(branch.cha[1][0]-0.35, branch.cha[1][1]-0.27),
        map: map,
        title: 'B',
        icon: {
            content: '<h1>B</h1>' //
        }
    });

    var C = new naver.maps.Marker({
        position: new naver.maps.LatLng(branch.jap[1][0]-0.35, branch.jap[1][1]-0.27),
        map: map,
        title: 'C',
        icon: {
            content: '<h1>C</h1>' //
        }
    });

    let angle_marker = [270, 225, 180, 135, 90, 45, 0, 315];
    let deception_index = {
        kor: 0,
        cha: 0,
        jap: 0
    };
    let stop = {
        kor: false,
        cha: false,
        jap: false
    };

    let infoWindow = {
        kor: new naver.maps.InfoWindow({
            content: '<div class="iw_inner"><h3 style="margin: 10px 10px 0 10px;">Group A</h3><h3 style="margin: 0 10px 10px 10px;">'+key_list.kor+'</h3></div>'
        }),
        cha: new naver.maps.InfoWindow({
            content: '<div class="iw_inner"><h3 style="margin: 10px 10px 0 10px;">Group B</h3><h3 style="margin: 0 10px 10px 10px;">'+key_list.cha+'</h3></div>'
        }),
        jap: new naver.maps.InfoWindow({
            content: '<div class="iw_inner"><h3 style="margin: 10px 10px 0 10px;">Group C</h3><h3 style="margin: 0 10px 10px 10px;">'+key_list.jap+'</h3></div>'
        })
    };

    function change_info (br) {
        if (infoWindow[br].getMap()) {
            infoWindow[br].close();
        } else {
            infoWindow[br].open(map, marker_list[br]);
            infoWindow[br].setPosition(new naver.maps.LatLng(branch[br][index[br]][0], branch[br][index[br]][1]));
        }
    }

    let index_dict = {
        kor: 0,
        cha: 1,
        jap: 2
    };

    let channel_dict = {
        kor: '<b>A:</b>&nbsp;',
        cha: '<b>B:</b>&nbsp;',
        jap: '<b>C:</b>&nbsp;'
    };
    var dec_ang = {
        kor: '300deg',
        cha: '90deg',
        jap: '300deg'
    };
    var fly_ang = {
        kor: '240deg',
        cha: '30deg',
        jap: '240deg'
    };

    function move_marker () {
        let good = document.getElementsByClassName('good');
        let bad = document.getElementsByClassName('bad');
        for (b in index) {
            if (stop[b]) {
                marker_list[b].setIcon({
                    content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate('+ angle_marker[index[b]]+'deg); color: yellow;"></i>'
                });
                for (let i = 0; i < 8; ++i) {
                    route_marker[b][i].setIcon({
                            content: '<p></p>' //
                    });
                }
            } else if (is_deception[b] && is_CA) {
                for (let i = 0; i < 8; ++i) {
                    route_marker[b][i].setIcon({
                            content: '<i class="fas fa-location-arrow" style="font-size: 0.9em; transform: rotate('+ angle[i] +'deg);"></i>' //
                    });
                }
                deception_index[b] += 1;
                if (deception_index[b] > 9) {
                    deception_index[b] = 9;
                }
                marker_list[b].setPosition(new naver.maps.LatLng(deception_route[b][deception_index[b]][0], deception_route[b][deception_index[b]][1]));
                marker_list[b].setIcon({
                    content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate('+ fly_ang[b]+'); color: blue;"></i>'
                });
                {#marker_list[b].setIcon({#}
                {#    content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate('+ angle_marker[deception_index[b]]+'deg); color: red;"></i>'#}
                {# });#}

                good[index_dict[b]].innerHTML = channel_dict[b];
                bad[index_dict[b]].innerHTML = channel_dict[b] + (stop[b] ? '' : branch[b][deception_index[b]%8][0]+', '+branch[b][deception_index[b]%8][1]);
                if (infoWindow[b].getMap()) {
                    infoWindow[b].setPosition(new naver.maps.LatLng(deception_route[b][deception_index[b]][0] - 0.2, deception_route[b][deception_index[b]][1] + 0.6));
                }
            } else {
                for (let i = 0; i < 8; ++i) {
                    route_marker[b][i].setIcon({
                            content: '<i class="fas fa-location-arrow" style="font-size: 0.9em; transform: rotate('+ angle[i] +'deg);"></i>' //
                    });
                }
                index[b] = (index[b] + 1) % 8;
                marker_list[b].setPosition(new naver.maps.LatLng(branch[b][index[b]][0], branch[b][index[b]][1]));
                marker_list[b].setIcon({
                    content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate('+ angle_marker[index[b]]+'deg); color: blue;"></i>'
                });
                good[index_dict[b]].innerHTML = channel_dict[b] + (stop[b] ? '' : branch[b][index[b]][0]+', '+branch[b][index[b]][1]);
                bad[index_dict[b]].innerHTML = channel_dict[b];
                if (infoWindow[b].getMap()) {
                    infoWindow[b].setPosition(new naver.maps.LatLng(branch[b][index[b]][0] - 0.2, branch[b][index[b]][1] + 0.6));
                }
            }

        }
    }
    setInterval(move_marker, 1000);
    let img_index = 1;
    let timer = 0;
    let img_name = '';
    let repeat;

    function alter_image() {
        if (img_name !== undefined) {
            let img = document.getElementById('img');
            img.src = 'static/img/set'+img_index+'/ACQ_'+ img_name +'.jpg';
            img_index = (img_index+1) % 9+1;
        }
    }

    function timing() {
        console.log(img_name);
        if (img_name === undefined) {
            return ;
        }
        if (timer < 0)
            clearInterval(repeat);
        if (timer === 0) {
            timer -= 1;
            alter_image();
        } else {
            timer -= 1;
        }

    }

    function change_image(name) {
        console.log(name);
        if (name === undefined) {
            return ;
        }
        let img = document.getElementById('img');
        img.src = 'static/img/set1/ACQ_NULL.jpg';
        if (name === 'CA') {
            timer = 1;
        } else if (name === 'PAC') {
            timer = 4;
        } else {
            timer = 30;
        }
        img_name = name;
        repeat = setInterval(timing, 500);
    }
    function change_type () {
        let select = document.getElementById('signal_type');
        let name = select.selectedOptions[0].innerText;
        if (name === 'CA')
            is_CA = true;
        else
            is_CA = false;
        console.log(name);

        if (name === 'CA') {
            change_image('CA');
        } else if (name === 'PAC') {
            change_image('PAC');
        } else {
            change_image('EC')
        }
    }
    let dec = {
        kor: [39.9737544, 125.6460437],
        cha: [33.1554441, 126.8125058],
        jap: [37.5709785, 131.1102824]
    };
    let decept_marker = {
        kor: [],
        cha: [],
        jap: []
    };

    function decept (br) {
        is_deception[br] = !is_deception[br];
        let d = document.getElementsByClassName('deception_try')[index_dict[br]];
        if (stop[br]) {
            d.innerHTML = channel_dict[br]+'No Data...';
        } else if (is_deception[br]) {
            if (is_CA)
                d.innerHTML = channel_dict[br]+'Spoofed...';
            else {
                d.innerHTML = channel_dict[br] + 'Not Spoofed';
                return;
            }
            let lt = dec[br][0] - branch[br][index[br]][0];
            let lg = dec[br][1] - branch[br][index[br]][1];
            lt /= 10;
            lg /= 10;
            deception_route[br] = [];

            for (var i = 0; i < 10; ++i) {
                deception_route[br].push([branch[br][index[br]][0]+(lt*i) -0.2,branch[br][index[br]][1]+(lg*i)+0.5]);
                decept_marker[br].push(new naver.maps.Marker({
                    position: new naver.maps.LatLng(deception_route[br][i][0], deception_route[br][i][1]),
                    map: map,
                    icon: {
                        content: '<i class="fas fa-location-arrow" style="color: red; font-size: 0.9em; transform: rotate('+dec_ang[br]+');"></i>' //
                    }
                }));
            }
        } else {
            d.innerHTML = channel_dict[br]+'Normal State';
            for (var i = 0; i < 10; ++i) {
                decept_marker[br][i].setIcon({
                    content: '<p></p>'
                });
            }
            deception_index[br] = 0;
            decept_marker[br] = [];
        }
    }

    function drop (num) {
        if (num === 1) {
            let kor_btn = document.getElementsByClassName('drop')[0];
            let d = document.getElementsByClassName('deception_try')[index_dict.kor];
            if (stop.kor) {
                stop.kor = false;
                kor_btn.innerHTML = "Leave A";
                if (is_deception.kor) {
                    if (is_CA)
                        d.innerHTML = channel_dict.kor+'Spoofed...';
                    else
                        d.innerHTML = channel_dict.kor+'Not Spoofed';
                } else {
                    d.innerHTML = channel_dict.kor+'Normal State';
                }
            } else {
                stop.kor = true;
                kor_btn.innerHTML = "Join A";
                d.innerHTML = channel_dict.kor+'No Data...';
            }
        } else if (num === 2) {
            let cha_btn = document.getElementsByClassName('drop')[1];
            let d = document.getElementsByClassName('deception_try')[index_dict.cha];
            if (stop.cha) {
                stop.cha = false;
                cha_btn.innerHTML = "Leave B";
                if (is_deception.cha) {
                    if (is_CA)
                        d.innerHTML = channel_dict.cha+'Spoofed...';
                    else
                        d.innerHTML = channel_dict.cha+'Not Spoofed';
                } else {
                    d.innerHTML = channel_dict.cha+'Normal State';
                }
            } else {
                stop.cha = true;
                cha_btn.innerHTML = "Join B";
                d.innerHTML = channel_dict.cha+'No Data...';
            }
        } else {
            let jap_btn = document.getElementsByClassName('drop')[2];
            let d = document.getElementsByClassName('deception_try')[index_dict.jap];
            if (stop.jap) {
                stop.jap = false;
                jap_btn.innerHTML = "Leave C";
                if (is_deception.jap) {
                    if (is_CA)
                        d.innerHTML = channel_dict.jap+'Spoofed...';
                    else
                        d.innerHTML = channel_dict.jap+'Not Spoofed';
                } else {
                    d.innerHTML = channel_dict.jap+'Normal State';
                }
            } else {
                stop.jap = true;
                jap_btn.innerHTML = "Join C";
                d.innerHTML = channel_dict.jap+'No Data...';
            }
        }

        let t = [(Math.floor((Math.random() * 10) + 1)%9+1)];
        let str = 'abcdef';
        for (var i = 0; i < 15; ++i) {
            if ((Math.floor((Math.random() * 10) + 1)%3) !== 1) {
                t.push(str.charAt(Math.floor(Math.random()*100)%6))
            } else {
                t.push(Math.floor(Math.random()*100%10));
            }
        }
        key = t.join('');
        var temp = {
            kor: 'A',
            cha: 'B',
            jap: 'C'
        };
        for (k in key_list) {
            if (!stop[k]) {
                key_list[k] = key;
                infoWindow[k].setContent('<div class="iw_inner"><h3 style="margin: 10px 10px 0 10px;">Group '+temp[k]+'</h3><h3 style="margin: 0 10px 10px 10px;">'+key_list[k]+'</h3></div>');
            }
        }
        document.getElementById('key').innerHTML = 'Satellite Cryptography Key : ' + key;
    }
    function initialize() {
        let select = document.getElementById('signal_type');
            let name = select.selectedOptions[0].innerText;
            if (name === 'CA')
                is_CA = true;
            else
                is_CA = false;
        let temp = document.getElementsByClassName('drop');
        let temp_ABC = ['A', 'B', 'C'];
        for (var i = 0; i < 3; ++i) {
            temp[i].innerHTML = 'Leave '+ temp_ABC[i];
        }
        for (b in index) {
            let d = document.getElementsByClassName('deception_try')[index_dict[b]];
            index[b] = 0;
            marker_list[b].setPosition(new naver.maps.LatLng(branch[b][index[b]][0], branch[b][index[b]][1]));
            marker_list[b].setIcon({
                content: '<i class="fas fa-plane" style="font-size: 3em; transform: rotate('+ angle_marker[index[b]]+'deg); color: blue;"></i>'
            });
            stop[b] = false;
            d.innerHTML = channel_dict[b]+'Normal State';
            for (var i in decept_marker[b]) {
                decept_marker[b][i].setIcon({
                    content: '<p></p>'
                });
            }
            is_deception[b] = false;
            deception_index[b] = 0;
            decept_marker[b] = [];
        }
    }
</script>
</div>

</div>
</body>
</html>
