{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=C1X9zN5oIZoHY7Ez2ege&submodules=geocoder"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>GPS - Satellite</title>
</head>
<body>
<div >

    <select id="signal_type" style="width: 100%; height: 50px; text-align: center; margin-bottom: 1em;" onchange="change_type()">
        <option>CA</option>
        <option>PAC</option>
        <option>EC</option>
    </select>
    <div class="grid-container">

    <div id="map" class="grid-item" style="height: 670px; width: 100%;"></div>
      <!--<div id="map" class="grid-item"></div>-->
    <div class="grid-item" style="border: 1px solid black; border-radius: 10px; width: 90%; margin-left: 2em; height: 670px;">
        <h3 id="signal" style="line-height: 40px; margin: 10px 0px;"></h3>

        <div class="grid-container" style="height: 610px;">
            <div class="grid-item" style="border-width: 1px 1px 0px 0px; border-style: solid; width: 100%;">


            </div>
            <div class="grid-item" style="border-width: 1px 0px 0px 0px; border-style: solid; width: 100%;">
                <h3 id="deception_try" style="margin-top: 3em;">정상 상태</h3>
                <button onclick="decept()">Deception</button>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-container" style="border: 1px solid black; overflow-y: auto; height: 500px; margin-top: 1em;">
            <div class="grid-item" style="border-width: 0px 1px 1px 0px; border-style: solid; width: 100%; padding:0.5em 0em;">
                <h3>정상 좌표</h3>
            </div>
            <div class="grid-item" style="border-width: 0px 0px 1px 0px; border-style: solid; width: 100%; padding:0.5em 0em;">
                <h3>기만 좌표</h3>
            </div>
            <div class="grid-item" style="border-width: 0px 1px 0px 0px; border-style: solid; width: 100%; height: 430px;">
                <ul id="good">
                    <li></li>
                </ul>

            </div>
            <div class="grid-item" style="width: 100%;">
                <ul id="bad">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-item" style="border: 1px solid black; border-radius: 10px; width: 90%; margin-left: 2em; margin-top: 1em;">
        <h3>Controller</h3>
        <button class="drop" onclick="drop(1)">Channel 1 Drop</button>
        <button class="drop" onclick="drop(2)">Channel 2 Drop</button>
        <button class="drop" onclick="drop(3)">Channel 3 Drop</button>
    </div>

<script>
    let branch = {
        kor: [[36.2415852, 128.5614499], [36.94869198118655, 128.26855668118654], [37.2415852, 127.5614499], [36.94869198118655, 126.85434311881345], [36.2415852, 126.5614499], [35.53447841881346, 126.85434311881345], [35.2415852, 127.5614499], [35.53447841881346, 128.26855668118654]],
        cha: [[36.4198096, 121.4392376], [37.12691638118655, 121.14634438118655], [37.4198096, 120.4392376], [37.12691638118655, 119.73213081881345], [36.4198096, 119.4392376], [35.712702818813455, 119.73213081881345], [35.4198096, 120.4392376], [35.712702818813455, 121.14634438118655]],
        jap: [[33.9606874, 133.0], [34.667794181186544, 132.70710678118655], [34.9606874, 132.0], [34.667794181186544, 131.29289321881345], [33.9606874, 131.0], [33.25358061881345, 131.29289321881345], [32.9606874, 132.0], [33.25358061881345, 132.70710678118655]]
    };

    let index = {
        kor: 0,
        cha: 0,
        jap: 0
    };

    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 126.105399),
        zoom: 1
    };

    let map = new naver.maps.Map('map', mapOptions);
    let is_deception = false;
    let is_stop = false;
    let is_CA = true;

    function make_marker () {
        let angle = [315, 270, 225, 180, 135, 90, 45, 0, ];
        for (br in branch) {
            for (let i = 0; i < 8; ++i) {
                new naver.maps.Marker({
                    position: new naver.maps.LatLng(branch[br][i][0], branch[br][i][1]),
                    map: map,
                    icon: {
                        content: '<i class="fas fa-location-arrow" style="font-size: 0.9em; transform: rotate('+ angle[i] +'deg);"></i>' //
                    }
                });
            }
        }
    }
    make_marker();
    let marker_list = {
        kor: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.kor[0][0], branch.kor[0][1]),
            map: map,
            title: 'Korea',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate(270deg); color: blue;"></i>' //
            }
        }),
        jap: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.jap[0][0], branch.jap[0][1]),
            map: map,
            title: 'Japan',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate(270deg); color: blue;"></i>' //
            }
        }),
        cha: new naver.maps.Marker({
            position: new naver.maps.LatLng(branch.cha[0][0], branch.cha[0][1]),
            map: map,
            title: 'China',
            icon: {
                content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate(270deg); color: blue;"></i>' //
            }
        })
    };

    let angle_marker = [270, 225, 180, 135, 90, 45, 0, 315];
    let deception_index = {
        kor: 0,
        cha: 0,
        jap: 0
    };
    let stop = {
        kor: false,
        cha: false,
        jap: false
    };
    function move_marker () {
        if (is_deception && is_CA) {
            for (b in index) {
                if (stop[b]) {
                    marker_list[b].setIcon({
                        content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate('+ angle_marker[deception_index[b]]+'deg); color: yellow;"></i>'
                    });
                } else {
                    deception_index[b] = (deception_index[b] + 1) % 8;
                    marker_list[b].setIcon({
                        content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate('+ angle_marker[deception_index[b]]+'deg); color: red;"></i>'
                    });
                }
            }
        } else {
            for (b in index) {
                if (stop[b]) {
                    marker_list[b].setIcon({
                        content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate('+ angle_marker[index[b]]+'deg); color: yellow;"></i>'
                    });
                } else {
                    index[b] = (index[b] + 1) % 8;
                    deception_index[b] = index[b];
                    marker_list[b].setPosition(new naver.maps.LatLng(branch[b][index[b]][0], branch[b][index[b]][1]));
                    marker_list[b].setIcon({
                        content: '<i class="fas fa-plane" style="font-size: 1.5em; transform: rotate('+ angle_marker[index[b]]+'deg); color: blue;"></i>'
                    });
                }
            }
        }
    }
    setInterval(move_marker, 1000);
    function change_type () {
        let h = document.getElementById('signal');
        let select = document.getElementById('signal_type');
        h.innerText = select.selectedOptions[0].innerHTML;
        if (h.innerText === 'CA')
            is_CA = true;
        else
            is_CA = false;
    }

    naver.maps.Event.addListener(map, 'click', function(e) {
        console.log(e.coord);
    });

    function decept () {
        is_deception = !is_deception;
        let d = document.getElementById('deception_try');
        if (is_deception) {
            d.innerText = '기만 공격 시도중...';
        } else {
            d.innerText = '정상 상태';
        }
    }

    function drop (num) {
        if (num === 1) {
            let kor_btn = document.getElementsByClassName('drop')[0];
            if (stop.kor) {
                stop.kor = false;
                kor_btn.innerHTML = "Channel 1 Add";
            } else {
                stop.kor = true;
                kor_btn.innerHTML = "Channel 1 Drop";
            }
        } else if (num === 2) {
            let cha_btn = document.getElementsByClassName('drop')[1];
            if (stop.cha) {
                stop.cha = false;
                cha_btn.innerHTML = "Channel 2 Add";
            } else {
                stop.cha = true;
                cha_btn.innerHTML = "Channel 2 Drop";
            }
        } else {
            let jap_btn = document.getElementsByClassName('drop')[2];
            if (stop.jap) {
                stop.jap = false;
                jap_btn.innerHTML = "Channel 3 Add";
            } else {
                stop.jap = true;
                jap_btn.innerHTML = "Channel 3 Drop";
            }
        }
    };
    change_type();
</script>
</div>

</div>
</body>
</html>
